extends layout

block content
    <form id="form1" method="post" action="/aliyun/api/faceapi" enctype="multipart/form-data">
    <div>
    <input type="submit">faceapi</input>
    </div>
    </form>

    <form id="form2" method="post" action="/aliyun/api/postTest" enctype="multipart/form-data">
    <div>
    <input type="submit">postTest</input>
    </div>
    </form>